$square-length: 60px;
$periodic-gap: 0.5em;

#periodic-table-overlay {
  position: relative;
  overflow-x: auto;
  display: none;
  visibility: hidden;
}

.flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

.periodic-group {
  display: flex;
  flex-direction: column;
  //justify-content: space-between;
  //gap: 1em;

  &__group,
  &__period {
    list-style: none;
    

    &__list {
      display: flex;
      //justify-content: center;
      //gap: 1em;
      margin: 0;
      padding: 0;

      &::before {
        content: "";
        display: block;
        width: $square-length;
        height: $square-length;
        min-width: $square-length;
        min-height: $square-length;
        flex-shrink: 0;
        border: 1px solid transparent;
        order: -1;
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $square-length;
      height: $square-length;
      min-width: $square-length;
      min-height: $square-length;
      border: 1px solid #ccc;

      span {
        color: #ccc;
        text-align: center;
        font-weight: bold;
      }
    }
  }

  &__period {

    &__list {
      flex-direction: column;
    }
  }
}

.periodic-grid {
  display: grid;
  position: absolute;
  top: $square-length;
  left: $square-length;
  grid-template-columns: repeat(18, minmax($square-length, $square-length));
  grid-template-rows: repeat(10, minmax($square-length, $square-length));
  grid-gap: $periodic-gap;
}

.periodic-element {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid white;
}