$min-cell-size: 0px;
$max-cell-size: 75px;
$cell-size: clamp($min-cell-size, calc(100vw / 18 - 4px), $max-cell-size);

.periodic-table {
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__column {
    color: var(--color-neutralVariant);
  }

  &__table {
    //display: grid;
    //grid-template-columns: repeat(18, minmax(50px, 1fr));
    //gap: 4px;
    //border-collapse: separate;
    border-spacing: 4px;
    border-collapse: separate;
    width: 100%;

    &__first-column-cell {
      color: var(--color-neutralVariant);
    }

    &__cell {
      border: 1px solid #ccc;
      padding: 0;
      width: $cell-size;
      height: $cell-size;
      aspect-ratio: 1 / 1;
      position: relative;
      box-sizing: border-box;
      min-height: $min-cell-size;
      min-width: $min-cell-size;
      max-height: $max-cell-size;
      max-width: $max-cell-size;
      font-size: calc($cell-size / 10);

      &__element,
      &__empty-cell {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &__element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        box-sizing: border-box;
        padding: 3px;

        &__top {
          &__atomic-number {
            text-align: left;
            font-weight: bold;
            font-size: 1.4em;
            color: var(--color-neutralVariant);
          }
        }

        &__symbol {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 4.2em;
          font-weight: bold;
          color: var(--color-secondary);
        }

        &__bottom {
          &__name {
            text-align: center;
            font-size: 1.6em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--color-neutralVariant);
          }
        }


      }
    }
  }
}