$min-cell-size: 0px;
$max-cell-size: 75px;
$cell-size: clamp($min-cell-size, calc(100vw / 18 - 4px), $max-cell-size);
$cell-spacing: 4px;

.periodic-table {

  &__state-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 2rem 2rem; // Top and bottom, will be removed in favor of .periodic-table flex layout 

    &__item {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      color: var(--color-neutralVariant);
      font-size: 1rem;
      border-radius: 1rem;
      border-style: solid;
      border-width: 2px;
      height: 1.3125rem;
      width: 7.25rem;

      &-rectangle {
        width: 1em;
        height: 0.25em;
      }

      &--selectable {
        border-color: gray;
        background-color: rgba($color: rgb(158, 158, 158), $alpha: 0.20);
  
        .periodic-table__state-info__item-rectangle {
          margin-right: 0.25rem;
          background-color: gray;
        }
      }
  
      &--chosen {
        border-color: rgba(255, 166, 0, 0.6);
        background-color: rgba($color: rgb(224, 154, 89), $alpha: 0.20);
  
        .periodic-table__state-info__item-rectangle {
          margin-right: 0.75rem;
          background-color: rgba(255, 166, 0, 0.6);
        }
      }
  
      &--unavailable {
        border-color: darkslategray;
        background-color: rgba($color: rgb(47, 79, 79), $alpha: 0.20);
  
        .periodic-table__state-info__item-rectangle {
          background-color: darkslategray;
        }
      }
    }
  }
  
  &__column {
    color: var(--color-neutralVariant);
  }

  &__table {
    //display: grid;
    //grid-template-columns: repeat(18, minmax(50px, 1fr));
    //gap: 4px;
    //border-collapse: separate;
    border-spacing: $cell-spacing;
    border-collapse: separate;
    width: calc(18 * #{$cell-size} + 17 * #{$cell-spacing});

    &__first-column-cell {
      color: var(--color-neutralVariant);
    }

    &__cell {
      border: 1px solid #ccc;
      padding: 0;
      width: $cell-size;
      height: $cell-size;
      aspect-ratio: 1 / 1;
      position: relative;
      box-sizing: border-box;
      min-height: $min-cell-size;
      min-width: $min-cell-size;
      max-height: $max-cell-size;
      max-width: $max-cell-size;
      font-size: calc($cell-size / 10);

      &__element,
      &__empty-cell {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &__element {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        box-sizing: border-box;
        padding: 3px;

        &__top {
          &__atomic-number {
            text-align: left;
            font-weight: bold;
            font-size: 1.2em;
            color: var(--color-neutralVariant);
          }
        }

        &__symbol {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 4.2em;
          font-weight: bold;
          color: var(--color-secondary);
        }

        &__bottom {
          &__name {
            text-align: center;
            font-size: 1.35em;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--color-neutralVariant);
          }
        }


      }
    }
    &--lanthanides-actinides {
      margin-top: 20px;
      width: calc(15 * #{$cell-size} + 14 * #{$cell-spacing}); // 15 columns + 14 gaps
      margin-left: calc(3 * #{$cell-size} + 3 * #{$cell-spacing}); // Align with the 3rd column of the main table

      .react-aria-TableHeader {
        visibility: hidden;
        height: 0;
        overflow: hidden;
      }
    }
  }
}