.global-look-left-tooltip {
    position: fixed;
    visibility: hidden;
    background-color: #333;
    color: white;
    padding: 0.25rem;
    z-index: 5;
    pointer-events: none; // Ignore pointer events to not interfere with the mouse event
    
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;

    &.show {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        margin-left: -0.5rem;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-right: 0.5rem solid #333;
        z-index: 5;
    }

    span {
        position: relative;
        z-index: 5;
    }
}