.sidebar {
  width: 5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  .icon-container {
    width: 5rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.1s, box-shadow 0.1s;
    cursor: pointer;

    &.use-inset-shadow:hover {
      box-shadow: inset 0 0 var(--inset-shadow-blur) var(--inset-shadow-color);
    }

    &:hover {
      background-color: var(--hover-color);
    }

    .icon {
      margin: 0;
      font-size: 1.5rem;
    }

    .icon-label {
      margin-top: 5px;
      font-size: 14px;
    }
  }
}