.sidebar {
  width: 5rem;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;

  .icon {
    margin: 1rem 0;
    font-size: 1.5rem; // Icon size
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #666;
    }
  }
}