.mainPage {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainContent {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.viewerContainer {
  position: relative;
  flex: 1;
  height: 100%;
}

.cesiumComponent {
  width: 100%;
  height: 100%;
}