.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-primary);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-quaternary);
  box-shadow: inset 0 0 1px 1px black;

  &[data-hovered] {
    background-color: var(--color-quaternary);
  }

  &[data-pressed] {
    background-color: var(--color-neutral);
  }
}

.icon {
  font-size: x-large;
  color: var(--color-tertiary);
}

.danger {
  color: var(--color-muted-red);
  transition: color 0.15s ease;
}

.button[data-hovered] .icon.danger {
  color: var(--color-redVariant);
}
