<div class="element-container">
    <div class="element-container__selection"></div>
    <div class="element-container__deselect-icon-box">
        <span class="material-symbols-outlined">deselect</span>
    </div>
</div>

<div class="element-mapgradient-container">

    <p class="element-mapgradient-container__gradient-text">Colorimetry in weight percent (wt.%)</p>

    <div class="element-mapgradient-container__palette-container">

        <div class="element-mapgradient-container__palette-container__selection tab-look-left-tooltip" data-tooltip="Gradient selection">
            <div class="element-mapgradient-container__palette-container__selection__gradient"></div>
            <div class="element-mapgradient-container__palette-container__selection__dropdown">
                <span class="material-symbols-outlined">expand_more</span>
            </div>
        </div>

        <div class="element-mapgradient-container__palette-container__menu">
            <!-- Child added in javascript automatically -->
        </div>
    </div>

    <div class="element-mapgradient-container__title"></div>
    <div class="element-mapgradient-container__color-ramp"></div>
    <input type="range" min="" max="" step= "0.01" class="element-mapgradient-container__range">

    <div class="element-mapgradient-container__min-value-container">
        <span class="min-value-label"></span>
    </div>
    <div class="element-mapgradient-container__max-value-container">
        <span class="max-value-label"></span>
    </div>
</div>

<div class="element-options-container">
    <div class="element-options-container__color"></div>
    <div class="element-options-container__transparency"></div>
</div>