.tab,
.tablinks,
.tabcontent {
    box-sizing: border-box;
    z-index: 2;
}

.tab {
    border: 1px solid #ccc;
    background-color: #21252984;
    width: 110px;
    height: calc(100vh - 25px);
    margin-bottom: 25px;

    button {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;
        background-color: inherit;
        color: white;
        padding: 22px 15px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            background-color: #ddd;
        }

        &.active {
            background-color: #ccc;
        }
    }
}

.tabcontent {
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 15vw;
    min-width: 225px;
    border-left: none;
    height: calc(100vh - 25px);
    margin-bottom: 25px;
}