#legend-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;

    #legend-title {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 10px;
        text-align: center;
    }
}

#legend-image {
    width: 207px; // 829/4
    height: 15px; // 60/4
    margin: 0 auto;
}

.legend-and-values {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

    .value-container {
        display: flex;
        text-align: center;
        width: 30px;
    }
}

#min-value-label, #max-value-label {
    font-size: 16px;
    color: #ffffff;

    &:first-of-type {
        left: 0;
    }

    &:last-of-type {
        right: 0;
    }
}
