html,
body {
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  justify-content: space-between;
}

.cesium-viewer-fullscreenContainer {
  position: relative;
  z-index: 2;
}

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 25px;
  background-color: #21252984;
  z-index: 1;
}

#cesiumContainer {
  position: absolute; /* absolute positioning */
  top: 0; /* set top to 0 */
  left: 0;
  width: 100vw;
  height: 100vh;
}


#layersSelectContainer {
  position: absolute;
  top: 10px;
  left: 10px;
}

#coords {
  padding: 5px;
  color: white;
  font-size: 14px;
  text-align: center;
  z-index: 2;
}
