#opacity-slider-title {
  position: absolute;
  top: 0px;
  right: 25%;
  color: bisque;
  z-index: 2;
}

#opacityToolbar {
  position: absolute;
  left: 70%;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 2;

  #opacity-slider {
      width: 200px;
      height: 20px;
      -webkit-appearance: none;
      appearance: none;
      background: #ddd;
      outline: none;
      opacity: 0.7;
      transition: opacity .2s;

      &:hover {
          opacity: 1;
      }

      &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          background: #4CAF50;
          cursor: pointer;
      }

      &::-moz-range-thumb {
          width: 20px;
          height: 20px;
          background: #4CAF50;
          cursor: pointer;
      }
  }

  #opacity-info {
      color: #4CAF50;
  }
}
