.sidebar-navigation {
  height: 100vh;
  display: flex;
  flex-direction: row;

  &__tablist {
    height: 100%;
    display: flex;
    flex-direction: column;
  
    &__icon-container {
      width: 5rem;
      height: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: var(--hover-color);
      }

      &.use-inset-shadow {

        &:hover {
          box-shadow: inset 0 0 calc(var(--inset-shadow-blur) / 2) var(--inset-shadow-color);
        }
      }

      &.selected-and-visible {
        background-color: var(--selection-color);
        box-shadow: inset 0 0 var(--inset-shadow-blur) var(--inset-shadow-color);
        transition: background-color 0.2s, box-shadow 0.2s;

        &:hover {
          box-shadow: inset 0 0 var(--inset-shadow-blur) var(--inset-shadow-color);
        }
      }

      &__click-handler {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__icon {
          display: flex;
          margin: 0;
          font-size: 1.5rem;
        }
  
        &__label {
          margin-top: 5px;
          font-size: var(--font-size);
        }
      }
    }
  }

  &__section-container {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;

    &__header {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 2.5rem;

      &__back-button {
        height: 100%;
      }
    }
  }
}