@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; /* Normal */
}

.font-light {
  font-weight: 300; /* Light */
}