@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@font-face {
  font-family: 'Roboto';
  src: url('../src/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
}