.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--color-primary);
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-tertiary);

  &[data-hovered] {
    background-color: var(--color-quartenary);
  }

  &[data-pressed] {
    background-color: var(--color-neutral);
  }

  &__icon {
    font-size: x-large;
    color: var(--color-tertiary)
  }
  
  &--light {
    background-color: var(--color-intermediary);
    border: 1px solid var(--color-primary);

    &[data-hovered] {
      background-color: var(--color-neutralVariant);
    }

    &[data-pressed] {
      background-color: var(--color-light-button-pressed);
    }

    .close-button__icon {
      color: var(--color-primary);
    }
  }
}