.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: background 200ms;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

.checkbox {
  flex: 1;
  font-size: 1rem;
}

.infoButton {
  flex-shrink: 0;
}
