#right-sidebar {
    width: 15vw;
    height: 100vh;
    height: calc(100vh - 25px);
    background-color: #21252984;
    overflow: auto;
    z-index: 1;
    order: 1;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}