#selected-element-container {
    display: flex;
    height: 16vh;
    width: 16vh;
    background-color: rgba(99, 99, 99, 0.5);
    border: 0.4rem solid black;
    border-radius: 1rem;
    margin: auto;
    position: relative;
}

#periodic-table-overlay {
    flex-grow: 1;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    cursor: pointer;
    display: none;
}