:root {
  --color-primary: #232935; /* dark color */
  --color-secondary: #85a2af; /* light color */
  --color-tertiary: #97a5ab; /* light color */
  --color-quartenary: #324049; /* dark color #2f3c46 */
  --color-error: #ff5449; /* red */
  --color-dark-intermediary: #2d3a42; /* dark color, used for sidebar for "is-active + pressed" state */
  --color-neutral: #2b353e; /* dark color */
  --color-neutralVariant: #b6bbc1; /* light color */
}

/*
    Color code:
  
    #232935 , #2b353e (dark color)
    #85a2af , #97a5ab , #b6bbc1 (light color) - darker to lighter
*/

@font-face {
  font-family: 'Roboto';
  src: url('./fonts//Roboto/Roboto-Regular.ttf') format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: black;
}